@import '../../../styles/settings.scss';

.root {
  // position: relative;
  min-height: calc(100vh - #{$logoHeight});
  padding: 40px 0;
  display: flex;
  justify-content: flex-end;
  // flex-wrap: wrap;
  // padding: 30px;

  // .title {
  //   width: 100%;
  //   margin: 50px auto;
  // }

  .map {
    position: relative;
    height: calc(100vh - #{$logoHeight});
    width: 900px;
    overflow: hidden;
  
    &::after {
      position: absolute;
      padding: 50px 0;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      content: '';
      opacity: 0;
      z-index: 999;
    }
  
  }

}
