@import '../../../styles/settings.scss';

.root {  
  font-weight: 600;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  
  .navigation {
    
    .link {
      font-weight: 600;
      color: #fff;
      margin-right: 30px;
      cursor: pointer;
      font-size: 18px;
      text-shadow: 0.1px 0.5px 5px #032a3f
    }

    .link:hover {
      color: $colorMain;
    }
  }

  @media (max-width: 740px) {
    
    .navigation  .link{
      min-width: 100%;
      justify-content: flex-start;
    }
  }
}
