@import '../../../styles/settings.scss';

.root {  
  font-weight: 600;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .navigation {
    
    .link {
      font-weight: 600;
      color: #fff;
      margin-right: 30px;
      cursor: pointer;
      font-size: 18px;
      text-shadow: .2px .2px .5px $colorMain;
    }

    .link:hover {
      color: $colorMain;
    }
  }
}
