@import '../../../styles/settings.scss';

.root {  
  font-weight: 600;
  height: 60px;
  width: 100%;
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;    

    .link {
      color: #fff;
      margin-right: 30px;
      cursor: pointer;
      font-size: 18px;
      text-shadow: .2px .2px .5px $colorMain;
    }

    .link:hover {
      color: $colorMain;
    }
  }
}
