@import '../../../styles/settings.scss';

.root {
  width: 100vw;
  height: 100%;


  .logoContainer {
    height: $logoHeight;
    text-align: center;

    .logo {
      cursor: pointer;
      height: 100%;
      transition: height 1s;

      &:hover {
        height: 108%;
      }
    }
  }

  .header {
    // position: absolute;
    // top: 25vh;
    // left: 0;
    // right: 0;
    // z-index: 99;

    z-index: 999;
    position: absolute;
    width: 100%;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
  }
  .header.sticky {
    position: fixed;
    top: 0;
  }
  
}
