@import '../../../styles/settings.scss';

.root {     
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 100;
  width: 100vw;
  
  p {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-shadow: .1px .1px .1px $colorMain;
  }

  .icons {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 200px;
    padding: 0 10px;;
  }

  .icon {
    color: #fff;
    font-size: 22px;

    &:hover {
      font-size: 25px;
    }
  }

}
